@using EcommerceManagement.Models.Domain
﻿@using Microsoft.AspNetCore.Identity;
@inject SignInManager<UserModel> signInManager

<html>
    <head>
        <style>
        .fontsytle {
            font-family: font-family: 'Cinzel', serif;
        }
        .tcaqua{
            color: #38B6FF;
        }
        </style>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap" rel="stylesheet">
    </head>
    <body>

    <ul class="navbar-nav fontsytle">
        @if (signInManager.IsSignedIn(User))
        {
            @if (User.IsInRole("Admin"))
            {
                <li class="nav-item fontsytle"><a class="nav-link text-white fs-5 fontsytle" href="/Admin/Index">Dashboard</a></li>
            }
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="fst-italic fs-5 tcaqua"> Hello</span> <span class="fs-5 fw-bold"> @User.Identity!.Name</span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li>
                        <a class="dropdown-item" asp-action="Logout" asp-controller="Authentication">
                            Logout
                        </a>
                        <a class="dropdown-item" asp-action="GetProfile" asp-controller="Authentication">
                            Profile 
                        </a>
                        <a class="dropdown-item" asp-action="ChangePassword" asp-controller="Authentication">
                            Change Password
                        </a>
                       
                    </li>
                </ul>
               
            </li>

           


        }
        else
        {
            <li class="nav-item">
                <a class="nav-link  text-white tcaqua" asp-area="" asp-controller="Authentication" asp-action="Register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white tcaqua" asp-area="" asp-controller="Authentication" asp-action="Login">Login</a>
            </li>
        }
    </ul>
    </body>
</html>