@model List<EcommerceManagement.Models.Dto.ProductCategoryDto>

@{
    ViewData["Title"] = "GetAll";
    var CategoryList = ViewBag.CategoryList as List<EcommerceManagement.Models.Domain.CategoryModel>;
}
<html>
    <head>
        <style>
        .mt70 {
            margin-top: 70px;
        }

        </style>
    </head>
    <body>
    <h3 class="m-3 mt70">All Products</h3>

    <div class="d-flex mt70 justify-content-between">
        <div class="d-flex justify-content-between" style="width:20rem">
            <select class="form-select me-3" id="categoryId" style="width:10rem">
                @if (CategoryList != null && CategoryList.Count > 0)
                {
                    @foreach (var x in CategoryList)
                    {
                        <option value="@x.CategoryId">@x.CategoryName</option>
                    }
                }
            </select>
            <div >
                <label for="sortOrder" class="form-label text-white">Sort Order</label>
                <select class="form-select" style="width:10rem" id="sortOrder">
                    <option value="normal" selected>Price</option>
                    <option value="asc">Ascending</option>
                    <option value="desc">Descending</option>
                </select>
            </div>

        </div>
        <div class="d-flex justify-content-between">
            <div class="me-3">
                <a class="btn btn-success" style="width:12rem;" href="/Product/AddProduct">Add New Product</a>
            </div>
            <div class="input-group d-flex justify-content-end ">
                <form id="searchForm" asp-action="GetProductsByCategory" asp-controller="Product">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Search products..." value="" id="searchInput" name="searchQuery">
                        <button class="btn btn-outline-primary" type="submit" id="searching">Search</button>
                        <button type="button" class="btn btn-outline-danger" id="resetButton">Reset</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="productTableBody">

    </div>
    @section Scripts {
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <script>

            var getProducts = function () {
                $.ajax({
                    url: '@Url.Action("GetAllByCategory", "Product")',
                    type: 'GET',
                    data: {
                        categoryId: $('#categoryId').val(),
                        searchingQuery: $('#searchInput').val(),
                        sortOrder: $('#sortOrder').val(),
                    },
                    success: function (data) {
                        $('#productTableBody').html(data);
                    },
                    error: function () {
                        console.log('Error fetching products');
                    }
                });
            }

            $(document).ready(function () {
                getProducts();
            });

            $("#categoryId, #searching,#sortOrder").change(function () {
                getProducts();
            });

            $(function () {
                $("#searchForm").submit(function (event) {
                    // Prevent the default form submission
                    event.preventDefault();
                    getProducts();
                });
            });

            $("#resetButton").click(function () {
                // Clear search input and reload original state
                $('#searchInput').val('');
                getProducts();
            });
        </script>
    }
 
    </body>
</html>