@model EcommerceManagement.Models.Dto.ChangeForgatePassword;
<html>
<head>
    <style>

    </style>
</head>
<body class="container">
    <div class="row vh-100   d-flex justify-content-center align-items-center">
        <div class="  col-lg-6">
            <form method="post" asp-action="ChangeForgatePassword" asp-controller="Authentication" class="form-control p-5 borderR">
                <div class="form-outline mb-4">
                    <input type="password" id="form2Example11" class="form-control "
                           placeholder="Enter password" asp-for="NewPassword" required />
                    <label class="form-label fw-bold text-secondary" for="form2Example11">New Password</label>
                </div>
                <div class="form-outline mb-4">
                    <input type="text" id="form2Example11" class="form-control "
                           placeholder="Enter confirm password" asp-for="ConfirmNewPassword" required />
                    <label class="form-label fw-bold text-secondary" for="form2Example11">Confirm Password</label>
                </div>
                <div class="pt-1  pb-1 w-100">
                    <div><input type="submit" class="btn btn-success w-100 " value="Update" /></div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>